{% extends 'main/base.html' %}
{% load static %}

<html>
    <head>
        {% block title %}Add new Practical{% endblock %}
        {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/AddNewPracticalDesign.css' %}">
        <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
    </head>

    <body>
        {% block content %}
            <div class = "FormForAdding">
                <!-- Add ID in the action option below -->
                <form action="#" method="POST" autocomplete="on" enctype="multipart/form-data"> 
                    {% csrf_token %}

                    <!-- {{ form.as_p}} -->
                    {{ formset.as_p }}
                    <!-- <p> New Practical Name  -->
                        <!-- {{forms.name}} -->
                        <!-- <input class="text-box" id="practical-name" name="#" type="text" placeholder="Enter Name of New Practical"> Change to drop down menu -->
                    <!-- </p> -->

                    <!-- <p> -->
                    <!-- <label for='equipment-needed'> Select Equipment Name</label> -->
                        <!-- <select id="equipment-name" name="#" type="text" placeholder="Select Equipment"> -->
                            <!-- {% for equipment_name in equipment_names %} -->
                                <!-- <option value="{{ equipment_name.name }}">{{ equipment_name.name }}</option> -->
                            <!-- {% endfor %}  -->
                        <!-- </select> Replace with sqlite link -->
                        
                        <!-- Qty of Equipment Needed  -->
                        <!-- {{forms.total_quantity}} -->
                        <!-- <input class="text-box" id="quantity-needed" name="quantity-needed" type="number" placeholder="Qty."> Change to drop down menu -->
                    <!-- </p> -->

                    <!-- <i id="plus-btn" class="fa fa-plus" style="font-size:24px"></i> Add the code to make this a button -->
                    <!-- <br> -->
                    <button name="save" type="submit" class= "btn btn-success" id="Send-Request">Send Request</button>

                </form>
                <p>testing</p>
            </div>
        {% endblock %}
    </body>
</html>