{% extends 'main/base.html' %}
{% load static %}

<html>
    <head>
        {% block title %}Add to Inventory{% endblock %}
        {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/AddToInventoryDesign.css' %}">
        {% endblock %}
    </head>

    <body>
        {% block content %}
            <div class = "FormForAdding"> <!-- Splitting the row above into columns, this one is for taking input-->
                <form action="/AddInventory/" method="POST" autocomplete="off" enctype="multipart/form-data"> <!-- Add backend link to python file to connect all inputs to the backend, the ACTION contains the page url to GO TO one submitted correctly -->
                    {% csrf_token %}
                    <label for='Equipment Name'> Select Equipment</label>

                        <select id="equipment-name" name="existing_name" type="text" placeholder="Select Equipment">
                            <option value='Select' disabled="true" selected>Select</option>
                            {% for equipment_name in equipment_names %}
                                <option value="{{ equipment_name.name }}">{{ equipment_name.name }}</option>
                            {% endfor %}
                        </select> <!-- Replace with sqlite link -->

                    <p> No. of Additions
                         <!-- {{ forms.new_quantity }}  Fix this in views.py/models.py -->
                        <input class="text-box" id="qty-to-add" name="new_quantity" type="text" placeholder="Enter Added qty."> <!-- Change to drop down menu -->
                    </p>

                    <h3>OR</h3>   
                        
                    <p> New Equipment Name 
                        <!-- {{forms.name}} -->
                        <input class="text-box" id="equipment-name" name="name" type="text" placeholder="Enter Name of New Equipment"> <!-- Change to drop down menu -->
                    </p>

                    <p> No. of Additions 
                        <!-- {{forms.total_quantity}} -->
                        <input class="text-box" id="new-qty-to-add" name="total_quantity" type="text" placeholder="Enter qty."> <!-- Change to drop down menu -->
                    </p>
                    
                    <label for='Room Number'> Select Room/Lab</label>

                    <select id="room-number" name="location" type="text" placeholder="Select Room/Lab">
                        <!-- Default heading/option that is disabled to guide the user -->
                        <option value='Select' disabled="true" selected>Select</option>
                        <!-- For loop to display each individual equipment as a selectable list option in the drop-down -->
                        {% for room in room_list %}
                            <option value="{{ room.room_name }}">{{ room.room_name }}</option>
                        {% endfor %}
                    </select>


                    <p> Image Reference 
                        <!-- {{forms.img_reference}} -->
                        <input name="img_reference" type="file" placeholder="Enter Image for location">
                    </p>

                    <button name="save" type="submit" class= "buttons" id="Send-Request">Send Request</button>

                </form>
                <p>testing</p>
            </div>
        {% endblock %}
    </body>
</html>