{% extends 'main/base.html' %}
{% load static %}

<html>
    <head>
        {% block title %}Add to Inventory{% endblock %}
        {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/AddToInventoryDesign.css' %}">
        {% endblock %}
    </head>

    <body>
        {% block content %}
            <div class = "FormForAdding"> <!-- Splitting the row above into columns, this one is for taking input-->
                <form action="/AddInventory/" method="POST" autocomplete="off"> <!-- Add backend link to python file to connect all inputs to the backend, the ACTION contains the page url to GO TO one submitted correctly -->
                    {% csrf_token %}
                    <label for='Equipment Name'> Select Equipment</label>
                    {{forms.existing_name}} <!-- CHECK IF THIS WORKS -->
                        <select id="equipment-name" name="existing_name" type="text" placeholder="Select Equipment">
                            {% for practical_name in practical_names %}
                                <option value="{{ practical_name.name }}">{{ practical_name.name }}</option>
                            {% endfor %}  
                            <!-- <option value='Equipment 1'>Equipment 1</option>
                            <option value='Equipment 2'>Equipment 2</option>
                            <option value='Equipment 3'>Equipment 3</option>
                            <option value='Equipment 4'>Equipment 4</option>
                            <option value='Equipment 5'>Equipment 5</option> -->
                        </select> <!-- Replace with sqlite link -->

                    <p> No. of Additions {{ forms.new_quantity }}  <!-- Fix this in views.py/models.py-->
                        <input class="text-box" id="qty-to-add" name="new_quantity" type="text" placeholder="Enter Added qty."> <!-- Change to drop down menu -->
                    </p>

                    <h3>OR</h3>   
                        
                    <p> ID {{forms.id}}
                        <input class="text-box" name="id" type="text" placeholder="Enter ID">
                    </p>

                    <p> New Equipment Name {{forms.name}}
                        <input class="text-box" id="equipment-name" name="name" type="text" placeholder="Enter Name of New Equipment"> <!-- Change to drop down menu -->
                    </p>

                    <p> No. of Additions {{forms.total_quantity}}
                        <input class="text-box" id="new-qty-to-add" name="total_quantity" type="text" placeholder="Enter qty."> <!-- Change to drop down menu -->
                    </p>
                    
                    <label for='Room Number'> Select Room/Lab</label>
                        {{forms.location}
                        <select id="room-number" name="location" type="text" placeholder="Select Room/Lab">
                            <option value='Select' disabled="true">Select</option>
                            <option value='Room 1'>Room 1</option>
                            <option value='Room 2'>Room 2</option>
                            <option value='Room 3'>Room 3</option>
                            <option value='Room 4'>Room 4</option>
                            <option value='Room 5'>Room 5</option>
                    </select> <!-- Replace with sqlite link -->

                    <p> Image Reference {{forms.img_reference}}
                        <input name="img_reference" type="file" placeholder="Enter Image for location">
                    </p>

                    <button name="save" type="submit" class= "#" id="Send-Request">Send Request</button>

                </form>
                <p>testing</p>
            </div>
        {% endblock %}
    </body>
</html>