{% extends 'main/base.html' %}
{% load static %}

<html>
    <head>
        {% block title %}Edit Practical{% endblock %}
        {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/HomePageDesign.css' %}">
        <link rel="stylesheet" href="{% static 'css/EditPracticalDesign.css' %}">
        {% endblock %}
    </head>

    
    <body>
        {% block content %}
            <div class = "FormForEditing">
                <!-- Add ID in the action option below -->
                <form action="#" method="POST" autocomplete="on" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    {{ formset.as_p }}
                    <button name="save" type="submit" class= "btn btn-success" id="Send-Request">Send Request</button>
                </form>
                <p>testing</p>
            </div>
        {% endblock %}
    </body>
</html>