{% extends 'main/base.html' %}
{% load static %}

<html>

    <head>
        {% block title %}HomePage{% endblock %}
        <link rel="stylesheet" href="{% static 'css/HomePageDesign.css' %}">
    </head>

    <body>  
        {% block content %}
            <div class = "OrderEquipPage"> <!-- This is a row -->

                <div class = "TheForm"> <!-- Splitting the row above into columns, this one is for taking input-->
                    <form action="#" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <button name="save" type="submit" class= "buttons" id="send-request">Send Request</button>

                        {{ form.errors }}
                    </form>

                    {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    
                    <p>testing</p>
                </div>

                <div id = "TheCalendar" unselectable="on"> <!-- Splitting the row above into columns, this one is for putting the calendar -->
                    <iframe id="calendar" src="https://tinyurl.com/yxf3v8pm" height="700" width="750"></iframe>
                </div>
            </div>
        {% endblock %}
    </body>
</html>


                        <!-- <label for='Practical Name'> Select Practical Name</label>
                        <br>
                        
                        <select id="practical-list" name="practical_booking" type="text" placeholder="Select Practical">
                            <option value='Select' disabled="true" selected>Select</option>
                            {% for practical_name in practical_list %}
                                <option value="{{ practical_name.practical_name }}">{{ practical_name.practical_name }}</option>
                            {% endfor %}  
                        </select>
                        
                        <p> No. of Students 
                            
                            <br>
                            <input class="text-boxes" id="student-number-box" name="number_students" type="text" placeholder="Enter Number">
                        </p>

                        <label for='Room Number'> Select Room/Lab</label>
                        <br>
                        
                        <select class="small-drop-downs" id="room-list" name="room" type="text" placeholder="Select Room">
                            <option value='Select' disabled="true" selected>Select</option>
                            {% for room in room_list %}
                                <option value="{{ room.room_name }}">{{ room.room_name }}</option>
                            {% endfor %}  
                        </select>

                        <br>
                        <br>

                        <label for="Lesson Number">Lesson Number</label>
                        <br>
                        
                        <select class="small-drop-downs" id="lesson-list" name="period_time" type="text" placeholder="Select Lesson Time">
                            <option value='Select' disabled="true" selected>Select</option>
                            {% for period in period_numbers %}
                                <option value="{{ period.period_number }}">{{ period.period_number }}</option>
                            {% endfor %}
                        </select>

                        <br>
                        <br>

                        <label for="Staff Name">Staff Name</label>
                        <br>
                        
                        <select class="small-drop-downs" id="staff-list" name="staff" type="text" placeholder="Select Staff">
                            <option value='Select' disabled="true" selected>Select</option>
                            {% for staff in staff_list %}
                                <option value="{{ staff.staff_name }}">{{ staff.staff_name }}</option>
                            {% endfor %}
                        </select>

                        <br>
                        <br>

                        <label for="date">Date</label>
                        <br>
                        
                        <input class="text-boxes" id="date-box" name="date" type="date" placeholder="Enter Date"> -->