{% extends 'main/base.html' %}
{% load static %}

<html>
    <head>
        {% block title %}Loss or Breakage Report{% endblock %}
       <!--<link rel="stylesheet" href="{% static 'css/HomePageDesign.css' %}">-->
       {% block extrahead %} 
       <link rel="stylesheet" href="{% static 'css/LossOrBreakageDesign.css' %}">
       {% endblock %}
    </head>

    <body>  
        {% block content %}
            <div class = "FormForReporting"> <!-- Splitting the row above into columns, this one is for taking input-->
                <form action="/LossReport/" method="POST" autocomplete="off"> <!-- Add backend link to python file to connect all inputs to the backend -->
                    {% csrf_token %}
                    <label for='equipment_name'> Select Equipment</label>
                    {{ forms.equipment_name }}
                        <select id="equipment-name" name="equipment_name" type="text" placeholder="Select Equipment">
                            {% for equipment_name in equipment_names %}
                                <option value="{{ equipment_name.name }}">{{ equipment_name.name }}</option>
                            {% endfor %}  
                            <!-- <option value='Equipment 1'>Equipment 1</option>
                            <option value='Equipment 2'>Equipment 2</option>
                            <option value='Equipment 3'>Equipment 3</option>
                            <option value='Equipment 4'>Equipment 4</option>
                            <option value='Equipment 5'>Equipment 5</option> -->
                        </select> <!-- Replace with sqlite link -->

                    <p> No. of Losses {{ forms.quantity_to_remove }}
                        <input id="qty-loss" name="quantity_to_remove" type="text" placeholder="Enter Lost qty."> <!-- Change to drop down menu -->
                    </p>

                    <button name="save" type="submit" class= "#" id="Send-Request">Send Request</button>

                </form>
                <p>testing</p>
            </div>
        {% endblock %}
    </body>
</html>