{% extends 'main/base.html' %}
{% load static %}

<html>
    <head>
        {% block title %}Loss or Breakage Report{% endblock %}
       <!--<link rel="stylesheet" href="{% static 'css/HomePageDesign.css' %}">-->
       {% block extrahead %} 
       <link rel="stylesheet" href="{% static 'css/LossOrBreakageDesign.css' %}">
       {% endblock %}
    </head>

    <body>  
        {% block content %}
            <div class = "FormForReporting">
                <form action="/LossReport/" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <label for='equipment_name'> Select Equipment</label>
                    <!-- below line GETS the list of equipment stored in the database from the server/backend-->
                    {{ forms.equipment_name }}
                        <select id="equipment-name" name="equipment_name" type="text" placeholder="Select Equipment">
                            <!-- Default heading/option that is disabled to guide the user -->
                            <option value='Select' disabled="true" selected>Select</option>
                            <!-- For loop to display each individual equipment as a selectable list option in the drop-down -->
                            {% for equipment_name in equipment_names %}
                                <option value="{{ equipment_name.name }}">{{ equipment_name.name }}</option>
                            {% endfor %}
                        </select>

                    <p> No. of Losses {{ forms.quantity_to_remove }}
                        <input id="qty-loss" name="quantity_to_remove" type="text" placeholder="Enter Lost qty.">
                    </p>

                    <button name="save" type="submit" class= "#" id="Send-Request">Send Request</button>

                </form>
                <p>testing</p>
            </div>
        {% endblock %}
    </body>
</html>