{% extends 'main/base.html' %}
{% load static %}

<html>
    <head>
        {% block title %}Name new Practical{% endblock %}
        {% block extrahead %}
        {% endblock %}
    </head>

    <body>
        {% block content %}
            <div class = "FormForNaming">
                <!-- something wrong with the id below-->
                <form action="/AddPractical/{{ practical.id }}" method="POST" autocomplete="on" enctype="multipart/form-data">                     {% csrf_token %}
                    {{ form.as_p}}
                    <button name="save" type="submit" class= "#" id="Send-Request">Send Request</button>

                </form>
                <p>testing</p>
            </div>
        {% endblock %}
    </body>
</html>