{% extends 'main/base.html' %}
{% load static %}

<html>
    <head>
        {% block title %}Name new Practical{% endblock %}
        {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/NameNewPracticalDesign.css' %}">
        {% endblock %}
    </head>

    <body>
        {% block content %}
            <div class = "FormForNaming">
                <form action="#" method="POST" autocomplete="on" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <button name="save" type="submit" class= "buttons" id="Send-Request">Send Request</button>
                    {{ form.errors }}
                </form>

                {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                <p>testing</p>
            </div>
        {% endblock %}
    </body>
</html>