{% extends 'main/base.html' %}
{% load static %}

<html>
    <head>
        {% block title %}Select Practical to Edit{% endblock %}
        {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/SelectPracticalToEditDesign.css' %}">
        {% endblock %}
    </head>

    <body>
        {% block content %}
            <div class = "FormForNaming">
                <form action="#" method="POST" autocomplete="on" enctype="multipart/form-data">
                    {% csrf_token %}

                    <p>
                    <label for='Practical Name'> Select Practical Name</label>
                    {{form.practical_name}}
                        <select id="practical-name" name="name_practical" type="text" placeholder="Select Practical to Edit">
                            <option value='Select' disabled="true" selected>Select</option>
                            {% for practical_name in practical_names %}
                                <option value="{{ practical_name.practical_name }}">{{ practical_name.practical_name }}</option>
                            {% endfor %}  
                        </select>
                    </p>

                    <button name="save" type="submit" class= "buttons" id="Send-Request">Send Request</button>

                </form>
                <p>testing</p>
            </div>
        {% endblock %}
    </body>
</html>