{% extends 'main/base.html' %}
{% load static %}

<html>
    <head>
        {% block title %}Inventory Table View{% endblock %}
        {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/ViewInventoryDesign.css' %}">
        {% endblock %}
        <!-- Add link to its own css -->
    </head>

    <body>
        {% block content %}
            <table>
                <thead>
                    <tr>
                        <th class="tabled-headers">Equipment ID</th>  
                        <th class="tabled-headers">Equipment Name</th>  
                        <th class="tabled-headers">Total Quantity</th>
                        <th class="tabled-headers">Location</th>
                        <th class="tabled-headers">Image Reference</th>  
                    </tr>
                </thead>
        
                <tbody>
                    <!-- inventory_obj is the context passed from the template to refer to the table -->
                    <!-- the lines below loops through the records of the table displaying needed information -->
                    {% for equipment in inventory_obj %}
                        <tr>
                            <td class="table-blocks">{{ equipment.id }}</td>  
                            <td class="table-blocks">{{ equipment.name }}</td>  
                            <td class="table-blocks">{{ equipment.total_quantity }}</td> 
                            <td class="table-blocks">{{ equipment.location }}</td>
                            <td class="table-blocks"><a href= "{{ MEDIA_URL }}{{ equipment.img_reference }}">IMAGE</a></td>                                                        
                            <td class="table-blocks">
                                <a href="/EditInventory/{{ equipment.id }}" id="Edit-Page-Link">Edit</a>
                            </td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
        {% endblock %}
    </body>
</html>