{% extends 'main/base.html' %}
{% load static %}

<html>
    <head>
        {% block title %}Inventory Table View{% endblock %}
        <link rel="stylesheet" href="{% static 'css/HomePageDesign.css' %}">
        <!-- Add link to its own css -->
    </head>

    <body>
        {% block content %}
            <table>
                <thead>
                    <tr>
                        <th>Equipment ID</th>  
                        <th>Equipment Name</th>  
                        <th>Total Quantity</th>
                        <th>Location</th>
                        <th>Image Reference</th>  
                    </tr>
                </thead>
        
                <tbody>
                    {% for equipment in inventory_obj %}
                        <tr>
                            <td>{{ equipment.id }}</td>  
                            <td>{{ equipment.name }}</td>  
                            <td>{{ equipment.total_quantity }}</td> 
                            <td>{{ equipment.location }}</td>
                            <td>{{ equipment.img_reference }}</td>                                                        
                            <td>
                                <a href="/AddInventory/">Edit</a> 
                            </td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
        {% endblock %}
    </body>
</html>