table, td, th {
    border: 1px solid gray;
    font-family: Arial;
}
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

  th {
    width: auto;
    height: 40px;
    background-color: rgb(248, 60, 60);
    color: white;
    font-style: thin;
    font-size: 15px;
}

  tr:nth-child(even){
      background-color: rgb(245, 170, 170) ;
}