{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}HomePage{% endblock %}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/HomePageDesign.css' %}">
    </head>

    <body>
        <div class="mainWindow" style="color:black;">

            <div id="TopBar">
                <div id="BarRight">
                    <button class="buttons" id="SignOutButton">Sign Out</button>
                    <a href="https://www.patesgs.org/"><img id="logo" alt="Pate's Logo" src="{% static 'images/schoolLogo.png' %}" width="50px" height="50px"></a>
                </div>

                <div id="BarLeft">
                    <a href= "/">
                        <button class="buttons" id="Home">Home</button>
                    </a>
                    <a href="/AddPractical">
                        <button class="buttons" id="Add">Add Practical</button>
                    </a>
                    <a href="/EditPractical">
                        <button class="buttons" id="Edit">Edit Practical</button>
                    </a>
                    <a href="/LossReport">
                        <button class="buttons" id="Report">Loss/Break</button>
                    </a>
                    <a href= "/AddInventory">
                        <button class="buttons" id="Inventory">Add to Inv</button>
                    </a>
                    </div>
            </div>

            {% block content %}
            {% endblock %}
        
        </div>
    </body>
</html>