.mainWindow{
    border-style: solid;
    border-color: red;
    border-radius: 10px;
    border-top-width: auto;
    border-bottom-width: auto;
    border-left-width: 10px;
    border-right-width: 10px;
    width: 98%;
    height: 98%;
}

#TopBar{
    background-color: red;
    overflow: auto;
}

.buttons{
    color: black;
    border-style: solid;
    border-color: none;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    width: 100px;
    height: 50px;
    padding: 5px;
    text-align: center;
}

.buttons:hover{
    color: red;
}

#BarRight{
    display: flex;
    float: right;
}

#BarLeft{
    display: flex;
    float: left;
}

.FormForAdding{
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
}